service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if request.auth!=null; // TODO: allow only those of "allowed" group
    }
  }
}
