.topbar {
    width: 100%;
    height: 60px;
    background: #f9f9f9;
    box-shadow: 0 0 20px rgba(75, 83, 87, 0.25);
}

.topbar > .logo {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    background: #b91e5b;
    margin-right: 30px;
}

.topbar > .logo img {
    display: block;
    margin: 14px auto;
}

.topbar > .selector {
    display: inline-block;
    background: #f1f2f5;
    margin: 15px 0;
    border-radius: 42px;
    padding: 6px 34px;
    color: #bebfc2;
    text-decoration: none;
}

.topbar > .selector:active {
    background: #bebfc2;
    color: #f1f2f5;
}

.topbar > .viewing {
    margin-left: 15px;
    border-left: 1px solid #e7ebef;
    padding: 6px 0 6px 15px;
    font-weight: 600;
    font-style: italic;
}

.topbar > .breadcrumbs {
    color: #818584;
    font-style: italic
}

.topbar > .breadcrumbs span {
    padding: 0 4px;
    text-decoration: underline;
}

.topbar > h2 {
    float: right;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 60px;
    margin: 0 10px 0 0;
}

.topbar > img.avatar {
    float: right;
    display: inline-block;
    height: calc(100% - 20px);
    margin: 6px 22px 0 0;
    border: 4px solid #e0e3ea;
    border-radius: 50%;
}
